<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-content text-center">
          <p>&copy; 2023 Your Website Name</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Service</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>