<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div>

      <h3>
        {{data.username}}</h3>
      <h4>{{capitalize data.email}}</h4>
      <p>
        {{calculate 10}}
      </p>
      <p>
        {{#strong}}
          {{data.paragraph}}
        {{/strong}}
      </p>
    </div>

  </body>
</html>